# Common
NODE_ENV=development

# Backend
PORT=4000
JWT_SECRET=change-me
SERVER_USERNAME=admin
SERVER_PASSWORD=changeme
DATABASE_URL=postgres://videoplatform:videoplatform@postgres:5432/videoplatform
UPLOAD_ROOT=/uploads

# Frontend
VITE_API_BASE=http://localhost:4000
VITE_APP_NAME=Videoplatform

# PWA
VITE_PWA_NAME=Videoplatform
VITE_PWA_SHORT_NAME=VP
VITE_PWA_THEME_COLOR=#0a0a0a
VITE_PWA_BACKGROUND_COLOR=#0a0a0a
